{
  "semi": true,
  "arrowParens": "avoid",
  "singleQuote": true,
  "useTabs": true,
  "printWidth": 140,
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx"
      ],
      "options": {
        "semi": true
      }
    }
  ],
  "endOfLine": "auto"
}
